<div>

<h2>
    Nueva celebrity
</h2>

<form action="/celebrities/create-celebrity" method="post">

    <label for="name">Nombre</label>
    <input type="text" name="name">

    <br>

    <label for="occupation">Ocupación</label>
    <input type="text" name="occupation">

    <br>

    <label for="catchPhrase">Cita célebre</label>
    <input type="text" name="catchPhrase">


    <br>

    <button>Agregar</button>

  </form>



</div>