<div>

  <h3>Formulario de crear una peli</h3>

  <form action="/movies/create-movie" method="post">

    <label for="title">Título</label>
    <input type="text" name="title">

    <br>

    <label for="genre">Género</label>
    <input type="text" name="genre">

    <br>
    <label for="plot">Argumento</label>
    <input type="text" name="plot">
    <br>

    <label for="cast">Cast</label>
    {{!-- <input type="text" name="author"> --}}

    <select class="form-select" name="cast" multiple>

      {{#each this.allCelebrities}}

        <option value="{{this._id}}">{{this.name}}</option>

      {{/each}}

    </select>

    <br>

    <button>Agregar</button>

  </form>

</div>